{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4 text-danger">Forgot Password</h1>
            <hr class="my-4">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <div class="col-md-10">
                    <p class="lead">Enter your E-Mail address to obtain a new password.</p>
                    {{ form|crispy }}
                    <button type='Submit' class="btn btn-success mt-2">Send E-Mail</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

