{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4 text-danger">Password Reset.</h1>
            <hr class="my-4">
            <form method="POST" class="form-group" action="{% url "login" %}">
                {% csrf_token %}
                <div class="col-md-10">
                    <p class="lead"><H1>Congratulations.</H1></p>
                    <p class="lead"><H3>Your password has been successfully reset.</H3></p>
<!--                    <p class="lead"></p>-->
                    <p class="lead">You can login now with your updated password.</p>
                    <button type='Submit' class="btn btn-success mt-2">Login Now</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}




