{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">User Registration</h1>
            <p class="lead">Rentmate: For the people, By the people, Of the people.</p>
            <hr class="my-4">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ user_form|crispy }}
                <button type='Submit' class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}